:root {
    /*  Primary */
    --StrongCyan: hsl(172, 67%, 45%);

    /* Neutral  */
    --VeryDarkCyan: hsl(183, 100%, 15%);
    --DarkGrayishCyan1: hsl(186, 14%, 43%);
    --DarkGrayishCyan2: hsl(184, 14%, 56%);
    --LightGrayishCyan1: hsl(185, 41%, 84%);
    --LightGrayishCyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --HoverColorReset: hsl(172, 73%, 78%);
  }


  //////

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--LightGrayishCyan1);
    font-family: 'Space Mono', monospace;
  }

  button{
    background-color: var(--VeryDarkCyan);
    font-size: 24px;
    color: var(--White) ;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    border: none;
    border-radius: .75rem;
    height: 3rem;
    font-weight: bold;
    &:hover{
      background-color:hsl(172, 73%, 78%);
    }
  }

  .container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 16px;
    color:var(--VeryDarkCyan);
    margin-bottom: 50px;
  }

  .subTitle{
    color:var(--DarkGrayishCyan2) ;
    display: inline-block;
    font-weight: bold;
    
  }

  .subTitle--warning {
    color:red ;
    margin-left: auto;
    display: none;
  }

  .outline--warning{
    &:focus{
      outline-color:red
    }
  }

  .subTitle--mb{
    margin-bottom: 16px;
  }

  .label--mb {
    margin-bottom: .25rem;
  }


  .cal {
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    gap:2rem;
    width: 75%;
  }

  .inputSide {
    width: 50% ;
    padding: 20px;
    input{
      width: 100%;
      padding: 1rem;
      height: 3rem;
      border-radius:.75rem;
      border:none ;
      background-color: var(--LightGrayishCyan2);
      font-size: 24px;
      color:var(--VeryDarkCyan) ;
      font-family: 'Space Mono', monospace;
      text-align: right;
      &:focus{
        outline-color:var(--StrongCyan)
      }
    }
    form{
      input{
        background-image: url('../images/icon-dollar.svg');
        background-repeat: no-repeat;
        background-position: 1rem center;
      }
    }
    .member{
      input{
        background-image: url('../images/icon-person.svg');
        background-repeat: no-repeat;
        background-position: 1rem center;
      }
      div{
        &:nth-child(1){
          display: flex;
        }
      }
    }
    .inputSide__block--mb {
      margin-bottom: 2rem;
    }
  }

  .btnGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 16px;
    input, button{
      height: 50px;
    }
  }

  .displaySide{
    width: 50%;
    padding: 3rem;
    background-color: var(--VeryDarkCyan);
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    >div{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      p{
        color: #fff;
      }
      span{
        font-size: 12px;
        color:var(--DarkGrayishCyan2)
      }
      h2{
        font-size: 40px;
        margin-left: auto;
        color:var(--StrongCyan);
      }
    }
    button{
      margin-top: auto;
      background-color: var(--StrongCyan);
      color: var(--VeryDarkCyan) ;
      &:hover{
        background-color:var(--HoverColorReset)
      }
    }
  }




